image: node:latest
cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/

stages:
  - validate
  - test
  - build
  - release
  - deploy

variables:
  ENV_TARGET: "canary"

.rules:
  rules:
    - if: >
        $CI_COMMIT_TAG == null &&
        $CI_COMMIT_TITLE !~ /^chore: release/

install:
  stage: .pre
  extends: .rules
  script:
    - npm ci --cache .npm --prefer-offline

lint:
  stage: validate
  extends: .rules
  script:
    - npm run lint

only-canary:
  stage: validate
  rules:
    - if: >
        $ENV_TARGET =~ /^canary$/
  script:
    - echo "Hello Only Canary !"

unit-test:
  stage: test
  extends: .rules
  script:
    - npm run test

integration-test:
  stage: test
  extends: .rules
  needs: ["unit-test"]
  script:
    - echo "Hello Integration !"

e2e-test:
  stage: test
  needs: ["integration-test"]
  rules:
    - if: >
        $CI_COMMIT_TAG == null &&
        $CI_COMMIT_TITLE !~ /^chore: release/ &&
        $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - echo "Hello E2E !"

AUTH-E2E:
  stage: test
  extends: .rules
  script:
    - npx playwright install
    - npx playwright install-deps
    - npx serve tests/AUTH-E2E -l 3000 &
    - SERVER_PID=$!
    - sleep 5
    - npm run test:e2e
    - kill $SERVER_PID

build-image:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker image build --platform=linux/amd64 -t $IMAGE_TAG -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE --all-tags

release:
  stage: release
  when: manual
  rules:
    - if: >
        $CI_COMMIT_BRANCH == "main" &&
        $CI_COMMIT_TAG == null &&
        $CI_COMMIT_TITLE !~ /^chore: release/
  before_script:
    - git config user.email $GITLAB_USER_EMAIL
    - git config user.name $GITLAB_USER_NAME
    - git remote set-url origin
      "https://gitlab-ci-token:$GITLAB_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
    - git checkout $CI_COMMIT_BRANCH
    - git pull origin $CI_COMMIT_BRANCH --rebase
  script:
    - npx --yes release-it --ci